<div class="d-flex col-sm-4">
    <div class="sandbox-card" id="{{ id }}">
        <header class="sandbox-card-header" ></header>
        <article class="sandbox-card-body">
            <h2 class="sandbox-card-title">{{ title }}</h2>
            <p class="sandbox-card-description">{{{ description }}}</p>
        </article>
        <a href="{{{ link }}}" class="sandbox-card-preview-link" title="Preview {{ title }}">Preview <i class="external-icon"></i></a>
    </div>
</div>
