<div class="d-flex col-sm-4">
    <a class="sandbox-card" id="{{ id }}" href="{{{ link }}}" title="Preview {{ title }}">
        <header class="sandbox-card-header" ></header>
        <article class="sandbox-card-body">
            <h2 class="sandbox-card-title">{{ title }}</h2>
            <p class="sandbox-card-description">{{{ description }}}</p>
        </article>
        <div class="sandbox-card-preview-link" >Preview <i class="external-icon"></i></div>
    </a>
</div>
