<!doctype html>
<html lang="en">
<head>
    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
                new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
            j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
            'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','{{ gtmid }}');</script>
    <!-- End Google Tag Manager -->

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="title" content="{{title}}">
    <meta name="description" content="{{ description }}" />

    <!-- Twitter Card data -->
    <meta name="twitter:card" value="summary">

    <!-- Open Graph data -->
    <meta property="og:title" content="{{title}}" />
    <meta property="og:type" content="article" />
    <meta property="og:url" content="{{{url}}}" />
    <meta property="og:image" content="{{{url}}}og_image.jpg" />
    <meta property="og:description" content="{{ description }}" />

    <!-- Make bootstrap work in IE -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <link href="https://fonts.googleapis.com/css?family=Quicksand:400,500%7CRoboto:400,500&display=swap" rel="stylesheet">

    <title>{{title}}</title>
</head>
<body>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id={{ gtmid }}"
                      height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->

    <header id="header">
        <div class="navbar">
            <div class="container-fluid">
                <a class="navbar-brand" href="https://ycloud.y.org/open-y-association-websites/" title="YMCA CodeShare" rel="YMCA CodeShare">YMCA CodeShare</a>
                <a class="navbar-back-to-openy ml-auto" href="https://ycloud.y.org/open-y-association-websites/" title="YMCA CodeShare" rel="YMCA CodeShare">
                    Back to YMCA CodeShare.org
                </a>
            </div>
        </div>
    </header>
    <div id="main" class="container-fluid">
        <div class="row">
            <div class="intro col-12">
                <h1>{{ header }}</h1>

                <p class="intro-text">{{ intro }}</p>
            </div>
        </div>

        {{> partials/cards cards=this.cards }}

    </div>

    <footer class="footer">
        <div class="footer-copyright py-3">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12 footer-copy-links">
                      © 2021 YMCA CodeShare, LLC. Rights reserved.
                    </div>
                </div>
            </div>
        </div>
    </footer>
</body>

</html>
